<div class="container">
    <div class="row">
        <div class="col-3 col-sm-0"></div>
        <div class="col-6 col-sm-12">
            <br>
            <div><button type="button" class="btn btn-primary" id="stockDataPage" style="width:100%;">貨品記錄</button></div>
            <br>
            <div><button type="button" class="btn btn-success" id="postStockPage" style="width:100%;">存入貨品</button></div>
            <br>
            <div><button type="button" class="btn btn-info" id="passwordPage" style="width:100%;">更改密碼</button></div>
            <br>
            <div><button type="button" class="btn btn-danger" id="logOutPage" style="width:100%;">登出</button></div>
                        <br>
            <div><button type="button" class="btn btn-secondary" id="logInPage" style="width:100%;">登入</button></div>
        </div>
        <div class="col-3 col-sm-0"></div>
    </div>
</div>

<script src="/javascripts/index.js"></script>