<div class="container">
    <div class="row">
        <div class="col-3 col-sm-0"></div>
        <div class="col-6 col-sm-12">
            <br>
            <div><button type="button" class="btn btn-primary" id="mainPage" style="width:100%;">主頁</button></div>
            <br>
        </div>
        <div class="col-3 col-sm-0"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 col-sm-0"></div>
        <div class="col-6 col-sm-12">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="store" class="form-label">店號</label>
                    <input type="text" class="form-control" id="store" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">密碼</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">確定</button>
            </form>
            <h5 style="color:red;">{{msg}}</h5>
            <h5 style="color:green;">{{msg2}}</h5>
        </div>
        <div class="col-3 col-sm-0"></div>
    </div>
</div>

<script src="/javascripts/login.js"></script>