/* table {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    width: 100%;
    table-layout:fixed;
} */

/* td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
} */

/* tr:nth-child(even) {
    background-color: green;
} */

/* #stockTable {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  table {
    width: 48%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid gray;
    padding: 5px;
  } */

  @media only screen and (max-width: 600px) {
    .td-Caddress {
      width:100px;
    }
  }